<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Flix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resource/css/style.css" >

</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top" id="movie-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target = "#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="movieindex.html" class="navbar-brand">MovieFlix</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#feeback">FAQ</a>
                <li><a href="#feeback">Meet the Team</a>
                <li><a href="#feeback">ContactUs</a>
            </ul>
    </div><!--container-->
</nav>
<!--Container-->
<div class="container" >
    <div class="hero-unit">
        <h1 class="header-text">
            <p class="text-center"> MovieFlix<img src="../resource/images/movie_basket.png" height="55" width="55">
            </p>
        </h1>
    </div>

    <div class="container">

        <div class="panel panel-default">
            <div class="panel-body">
              <h1>  Sorry, its a 404-Page not found!</h1>
            </div><!--panel-body-->

        </div>
    </div>
    </br></br>
    <!--footer-->
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">© 2016 - FEBATLAS
            </p>

            <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
                <span class="glyphicon glyphicon-star"></span>  Subscribe to our newsletter</a>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../resource/js/script.js"></script>

</body>
</html>